http_interactions:
- request:
    method: get
    uri: http://phylopic.org/api/a/name/f3254fbd-284f-46c1-ae0f-685549a6a373/taxonomy?supertaxa=all&options=string%20citationStart
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": {"taxa": [{"canonicalName": {"citationStart": null, "uid":
        "2265ff9d-cfcf-4bf4-9f3e-fb4dd9e90261", "string": "Choanozoa"}}, {"canonicalName":
        {"citationStart": null, "uid": "b909eda2-4a6d-4d87-a463-87cbe3d20c5f", "string":
        "Coelomata"}}, {"canonicalName": {"citationStart": null, "uid": "6ed7f321-091f-43c0-8db3-fa36bde54558",
        "string": "Opisthokonta"}}, {"canonicalName": {"citationStart": 13, "uid":
        "531415bb-8bda-4846-a238-43add9db57ee", "string": "Osteichthyes Huxley 1880"}},
        {"canonicalName": {"citation[...]
