http_interactions:
- request:
    method: get
    uri: http://phylopic.org/api/a/image/list/1/10?options=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": [{"uid": "dd8e04f8-0134-4c32-9768-1fdb702eaa8d"}, {"uid":
        "9509aeb5-dbae-4902-9c56-6fdd01b321f2"}, {"uid": "b0d54194-4105-4694-b670-b693df1640cf"},
        {"uid": "a8b7e68a-6c32-4088-aac7-913849bc9e5c"}, {"uid": "b2b60a18-fd7d-49b2-a15d-54a62cdcac6b"},
        {"uid": "ec11f62e-ed3e-49bb-bcff-4e47b281d378"}, {"uid": "e38c264a-8989-4e69-a6c1-7778b919980d"},
        {"uid": "b3d81818-b362-462c-b559-e0fc7c7e9978"}, {"uid": "3e3a8307-26aa-4982-92d2-9d51c823ed44"},
        {"uid": "839b9df7-c97f-444a-a611-95609e950960"}], "success": true}'
  recorded_at: 2018-11-09 22:18:33 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: http://phylopic.org/api/a/image/list/1/10?options=string%20taxa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result": [{"taxa": [], "uid": "dd8e04f8-0134-4c32-9768-1fdb702eaa8d"},
        {"taxa": [{"canonicalName": {"uid": "a536deee-f23f-473a-9c9b-c52797cf08b5",
        "string": "Columbidae"}}, {"canonicalName": {"uid": "3b15f6fa-5187-4a0a-9979-c44aecce88a7",
        "string": "Columba Linnaeus 1758"}}, {"canonicalName": {"uid": "ca1fcd63-5b13-4654-b437-5a0215f24e12",
        "string": "Columbinae + Otidiphabinae"}}, {"canonicalName": {"uid": "c8224248-6ba2-4516-ae53-9f1d3e4c6302",
        "string": "Columbini Illiger 1811"}}, {"canonicalName": {"uid": "350fd0dc-4e72-4687-bd90-65504fd2d101",
        "str[...]
