http_interactions:
- request:
    method: get
    uri: http://phylopic.org/api/a/image/list/1/10?options=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      warning: 299 phylopic.org "THIS VERSION OF THE PHYLOPIC API WILL BE REPLACED.
        To read about the new PhyloPic API in development, see <https://github.com/keesey/phylopic-api-docs>.
        To be an early tester, contact Mike Keesey <keesey+phylopic@gmail.com>."
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result": [{"uid": "d3a78afb-1b9e-45e0-b6f4-144d79f399f0"}, {"uid":
        "c7fbe213-1eac-4f81-80d0-674c3bd2d6b0"}, {"uid": "88edcbd6-dd46-4e4a-ba1b-20a71f0cfdeb"},
        {"uid": "415efeb0-020a-4776-9a19-77fc1ec2922f"}, {"uid": "d01de196-29cf-42d0-b52f-8ae433de8c30"},
        {"uid": "349529e4-140e-4e8f-8d16-15bf8f68ddcc"}, {"uid": "21d61af7-a191-4561-9dff-d106ac4f53f7"},
        {"uid": "a0753559-d626-4b3a-9af7-39c79409b8f4"}, {"uid": "aeeb30a8-afdc-4e7e-9bcc-574cb290a1f6"},
        {"uid": "5f4c760e-f6f7-4b9b-9199-db12bcfbf212"}], "success": true}'
  recorded_at: 2020-06-03 19:00:13 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://phylopic.org/api/a/image/list/1/10?options=string%20taxa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      warning: 299 phylopic.org "THIS VERSION OF THE PHYLOPIC API WILL BE REPLACED.
        To read about the new PhyloPic API in development, see <https://github.com/keesey/phylopic-api-docs>.
        To be an early tester, contact Mike Keesey <keesey+phylopic@gmail.com>."
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result": [{"taxa": [{"canonicalName": {"uid": "56ad68f9-42b1-48a9-b1f0-fbe1f41b7506",
        "string": "Enhydra lutris (Linnaeus, 1758)"}}, {"canonicalName": {"uid": "f53b041f-667a-45ee-b43a-9691f403e75b",
        "string": "Enhydra Fleming, 1822"}}], "uid": "d3a78afb-1b9e-45e0-b6f4-144d79f399f0"},
        {"taxa": [{"canonicalName": {"uid": "b1cb4995-d8cf-41ef-b1c6-921fb7e1f90f",
        "string": "Ursus arctos Linnaeus, 1758"}}, {"canonicalName": {"uid": "a03f4171-459e-4528-ad28-34d7373da030",
        "string": "Ursus (Ursus) Li[...]
