http_interactions:
- request:
    method: get
    uri: http://phylopic.org/api/a/name/set/8d9a9ea3-95cc-414d-1000-4b683ce04be2/taxonomy?options=string
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      warning: 299 phylopic.org "THIS VERSION OF THE PHYLOPIC API WILL BE REPLACED.
        To read about the new PhyloPic API in development, see <https://github.com/keesey/phylopic-api-docs>.
        To be an early tester, contact Mike Keesey <keesey+phylopic@gmail.com>."
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result": {"taxa": [{"canonicalName": {"uid": "2265ff9d-cfcf-4bf4-9f3e-fb4dd9e90261",
        "string": "Choanozoa"}}, {"canonicalName": {"uid": "b909eda2-4a6d-4d87-a463-87cbe3d20c5f",
        "string": "Coelomata"}}, {"canonicalName": {"uid": "6ed7f321-091f-43c0-8db3-fa36bde54558",
        "string": "Opisthokonta Cavalier-Smith 1987 [Simpson & Medina 2020]"}}, {"canonicalName":
        {"uid": "531415bb-8bda-4846-a238-43add9db57ee", "string": "Osteichthyes Huxley
        1880"}}, {"canonicalName": {"uid": "d55ad9b6-fc6b-43c5-8ebf-8635a34d[...]
