http_interactions:
- request:
    method: get
    uri: http://phylopic.org/api/a/name/set/8d9a9ea3-95cc-414d-1000-4b683ce04be2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      warning: 299 phylopic.org "THIS VERSION OF THE PHYLOPIC API WILL BE REPLACED.
        To read about the new PhyloPic API in development, see <https://github.com/keesey/phylopic-api-docs>.
        To be an early tester, contact Mike Keesey <keesey+phylopic@gmail.com>."
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result": {"uid": "8d9a9ea3-95cc-414d-1000-4b683ce04be2"}, "success":
        true}'
  recorded_at: 2020-06-03 19:00:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://phylopic.org/api/a/name/set/8d9a9ea3-95cc-414d-1000-4b683ce04be2?options=names%20string
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      warning: 299 phylopic.org "THIS VERSION OF THE PHYLOPIC API WILL BE REPLACED.
        To read about the new PhyloPic API in development, see <https://github.com/keesey/phylopic-api-docs>.
        To be an early tester, contact Mike Keesey <keesey+phylopic@gmail.com>."
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result": {"uid": "8d9a9ea3-95cc-414d-1000-4b683ce04be2", "names":
        [{"uid": "105d17a4-9706-4fd5-85d7-becffaf6250a", "string": "Homo sapiens sapiens
        Linnaeus 1758"}, {"uid": "9dc78907-02ca-4e98-95d7-f5a7c6166ee8", "string":
        "Canis familiaris familiaris"}]}, "success": true}'
  recorded_at: 2020-06-03 19:00:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
